<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PP_3_1_3_Boot-Security</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Стартовая страница</a>
                </li>
                <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="m-2 nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Страница администратора</a>
                </li>
            </ul>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()" class="m-2 navbar-text">
        <strong>[[${#httpServletRequest.remoteUser}]]</strong>
    </div>
    <div class="m-2 navbar-text">
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-success" value="Sign out">
            <input type="hidden" name="_csrf" value="{{.csrf_token}}">
        </form>
    </div>

</nav>
<br><br>
<div class="container mt-5">
    <h2 th:inline="text" class="text-center">Приветствую вас, <strong>[[${#httpServletRequest.remoteUser}]]</strong>.
        Добро пожаловать на вашу страницу!</h2>
</div>
<br>
<div class="container">
    <div class="row mb-3">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label"><strong>Имя пользователя</strong></label>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" th:value="${user.getUsername()}"
                   id="colFormLabelSm">
        </div>
    </div>
    <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label"><strong>Возраст</strong></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" th:value="${user.getAge()}" id="colFormLabel">
        </div>
    </div>
    <div class="row mb-3">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label"><strong>Эл. адрес</strong></label>
        <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" th:value="${user.geteMail()}" id="colFormLabelLg">
        </div>
    </div>
    <div class="row">
        <label for="colFormLabelBg" class="col-sm-2 col-form-label"><strong>Право доступа</strong></label>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-lg" th:value="${user.getRolesString()}"
                   id="colFormLabelBg">
        </div>
    </div>
</div>
</body>
</html>